<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header th:insert="~{blocks/header}"></header>
    <div class="main_content">
        <div th:insert="~{blocks/categories}"></div>
        <div class="products">
            <span>liquor? liquor!</span>

            <div id="popular" class="popular_cards">

            </div>
        </div>
    </div>
    <script th:src="@{/js/load_items_liquor.js}"></script>
    <footer th:insert="~{blocks/footer}"></footer>
</body>
</html>