<div th:fragment="categories" xmlns:th="http://www.w3.org/1999/xhtml" class="categories">
        <a href="/alcohols/all_wine" class="category">
            <img th:src="@{/images/wine-bottle.png}" alt="">
            <span>Wine</span>
        </a>
        <a href="/alcohols/all_liquor" class="category">
            <img th:src="@{/images/kahlua.png}" alt="">
            <span>liquor</span>
        </a>
        <a href="/alcohols/all_beer" class="category">
            <img th:src="@{/images/beer.png}" alt="">
            <span>beer</span>
        </a>
        <a href="/alcohols/all_vodka" class="category">
            <img th:src="@{/images/vodka.png}" alt="">
            <span>vodka</span>
        </a>
        <a href="/alcohols/all_whiskey" class="category">
            <img th:src="@{/images/whiskey.png}" alt="">
            <span>whiskey</span>
        </a>
        <a href="/alcohols/all_sparkling" class="category">
            <img th:src="@{/images/champagne.png}" alt="">
            <span>champagne</span>
        </a>
</div>