<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml" class="footer">
    <div class="about">
        <span class="about_title">about this project</span>
        <span class="about_text">
            HangoverMarket - магазин алкогольной продукции, после которой не бывает похмелья!<br><br>
            Проект был спроектирован и создан для освоения фреймворка spring-boot, основ HTML и JavaSript.<br><br>
        </span>
    </div>
    <div class="creators">
        <div class="card">
            <div class="logo_and_name">
                <img th:src="@{/images/den.jpeg}" alt="">
                <span class="creator_name">Denis "DENISUS" Pak</span>
                <span class="creator_info">DENISUS</span>
            </div>
            <div class="social">
                <a href="https://github.com/d3nisus">
                    <img th:src="@{/images/github-icon.png}" alt="">
                </a>
                <a href="https://t.me/d3nisus">
                    <img th:src="@{/images/telega-icon.png}" alt="">
                </a>
                <a href="https://vk.com/id244320945">
                    <img th:src="@{/images/vk-icon.png}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>