<div th:fragment="header" xmlns:th="http://www.thymeleaf.org" class="header">
    <a class="brand" href="/">
        <img th:src="@{/images/free-icon-beer.png}" alt="">
        <span class>Hangover</span>
    </a>
    <div class="search">
        <input type="text" placeholder="search">
    </div>
    <div class="loginAndCart">
        <div sec:authorize="isAuthenticated()" class="user_info">
            <span sec:authentication="name"></span>
            <span sec:authentication="principal.authorities"></span>
        </div>
        <a href="/alcohols/add" sec:authorize="hasRole('ROLE_ADMIN')">
            <img th:src="@{/images/add-file.png}" alt="" style="margin-right: 0px;">
        </a>
        <a href="#" sec:authorize="isAuthenticated()">
            <img th:src="@{/images/shopping-cart.png}" alt="">
        </a>
        <a href="/users/login" sec:authorize="!isAuthenticated()">
            <img th:src="@{/images/free-icon-avatar.png}" alt="">
        </a>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="POST">
            <input class="logout" type="image" th:src="@{/images/logout.png}">
        </form>
    </div> 
</div>